<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDV_jITD6qMOx1M37oxfD9XNrlLAPxiIvg</string>
	<key>GCM_SENDER_ID</key>
	<string>273045021809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bxaio.finance.wallet</string>
	<key>PROJECT_ID</key>
	<string>cashflow-de617</string>
	<key>STORAGE_BUCKET</key>
	<string>cashflow-de617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273045021809:ios:f754900d2250a3488fa7d0</string>
</dict>
</plist>